@tailwind base;
@tailwind components;
@tailwind utilities;

.chatbot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#e0f2fe;  
  
}
button{
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0369a1;
  color: #e0f2fe;
}

